.form-select{
    width: auto;
}

.page-link{
    cursor: pointer;
}

.header {
    //background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(99, 97, 102, 0.247));
}
.th:hover{
    background-color: #DCDF92;
    cursor: pointer;
}

img {
    max-width: 130px;
}

.image-column{
    width: 10%;
}

.not-found{
    height: 50vh;
}