.form-select{
    width: auto;
}

.page-link{
    cursor: pointer;
}

.header {
    background: linear-gradient(90deg, rgba(101, 99, 112, 0.485) 14%, rgba(140, 188, 218, 0.362) 43%, rgba(188,211,216,0.5329482134650736) 89%);
}

// table, tbody, tr, th, td{
//     background-color: rgba(197, 209, 209, 0.377) !important;
//     border: 1px solid black;
// }

.th:hover{
    background-color: #413f4a69;
    cursor: pointer;
}

img {
    max-width: 130px;
}

.image-column{
    width: 10%;
}

.not-found{
    height: 50vh;
}