<div class="container py-2">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1 class="display-5 text-white">Lista Ordini</h1>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex align-items-center">
      <button class="btn btn-light shadow-none" role="button" data-bs-toggle="modal" data-bs-target="#configModal">
        <i class="bi bi-gear-wide-connected"></i> Impostazioni
      </button>
    </div>
  </div>

  <div class="table-responsive-xl pt-2">
    <table class="table">
      <thead class="thead-dark table header sticky-top">
        <tr>
          <ng-container *ngFor="let col of colOrders">
            <th class="th" *ngIf="col.visible" (click)="changeOrderBy(col)">
              {{ col.text }} <i class="bi bi-caret-down-square-fill" *ngIf="col.name === sort.name"
                [ngClass]="{'bi-caret-down-square-fill': sort.orderBy == true, 'bi-caret-up-square-fill': sort.orderBy == false}"></i>
            </th>
          </ng-container>
          <th>
            Operazioni
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of listaOrders">
          <td *ngIf="colOrders[0].visible" class="align-middle" width=10%
            [ngClass]="{'text-success': order.OrderStatus == 'Shipped', 'text-danger': order.OrderStatus != 'Shipped'}">
            <i class="bi bi-exclamation-circle-fill" *ngIf="order.OrderStatus != 'Shipped'"></i>
            <i class="bi bi-check-circle-fill" *ngIf="order.OrderStatus == 'Shipped'"></i>
            {{order.OrderStatus}}
          </td>
          <td *ngIf="colOrders[1].visible" class="align-middle" width=20%>{{order.OrderType}}</td>
          <td *ngIf="colOrders[2].visible" class="align-middle" width=20%>{{order.AmazonOrderId}}</td>
          <td *ngIf="colOrders[3].visible" class="align-middle" width=20%>{{order.BuyerName}}</td>
          <td *ngIf="colOrders[4].visible" class="align-middle" width=20%>{{order.BuyerEmail}}</td>
          <td *ngIf="colOrders[5].visible" class="align-middle" width=20%>{{order.EarliestShipDate | date:
            'dd/MM/yyyy'}}</td>
          <td *ngIf="colOrders[6].visible" class="align-middle" width=20%>{{order.FulfillmentChannel}}</td>
          <td *ngIf="colOrders[7].visible" class="align-middle" width=20%>{{order.IsBusinessOrder}}</td>
          <td *ngIf="colOrders[8].visible" class="align-middle" width=20%>{{order.IsPremiumOrder}}</td>
          <td *ngIf="colOrders[9].visible" class="align-middle" width=20%>{{order.IsPrime}}</td>
          <td *ngIf="colOrders[10].visible" class="align-middle" width=20%>{{order.IsSoldByAB}}</td>
          <td *ngIf="colOrders[11].visible" class="align-middle" width=20%>{{order.MarketplaceId}}</td>
          <td *ngIf="colOrders[12].visible" class="align-middle" width=20%>{{order.NumberOfItemsShipped}}</td>
          <td *ngIf="colOrders[13].visible" class="align-middle" width=20%>{{order.NumberOfItemsUnshipped}}</td>
          <td *ngIf="colOrders[14].visible" class="align-middle" width=20%>{{order.PaymentMethod}}</td>
          <td *ngIf="colOrders[15].visible" class="align-middle" width=20%>{{order.PaymentMethodDetails}}</td>
          <td *ngIf="colOrders[16].visible" class="align-middle" width=20%>{{order.PurchaseOrderNumber}}</td>
          <td *ngIf="colOrders[17].visible" class="align-middle" width=20%>{{order.PurchaseDate | date: 'dd/MM/yyyy'}}
          </td>
          <td *ngIf="colOrders[18].visible" class="align-middle" width=20%>{{order.ShipmentServiceLevelCategory}}</td>
          <td *ngIf="colOrders[19].visible" class="align-middle" width=20%>{{order.ShippingAddressLine1}}</td>
          <td *ngIf="colOrders[20].visible" class="align-middle" width=20%>{{order.ShippingCityStateOrRegion}}</td>
          <td *ngIf="colOrders[21].visible" class="align-middle" width=10%>{{order.ShippingAddressCity}}</td>
          <td *ngIf="colOrders[22].visible" class="align-middle" width=10%>{{order.ShippingStateOrRegionPostalCode}}
          </td>
          <td>
            <button type="button" class="buttonInfo btn btn-primary btn-sm shadow-none" data-bs-toggle="modal"
              data-bs-target="#modalDetails" style="margin-left: 30%;" (click)="openDetailsModal(order)"><i class="bi bi-info-circle"></i></button>
          </td>
        </tr>
        <tr *ngIf="isListEmpty()">
          <td class="text-center align-middle not-found" colspan="100%">
            Nessun risultato trovato
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINATION  -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': page == 0}">
        <a class="page-link" (click)="changePage(page - 1)">Previous</a>
      </li>

      <ng-container *ngFor="let x of [].constructor(totalPages); let i = index">
        <li class="page-item" [ngClass]="{'active': i == page}">
          <a class="page-link" (click)="changePage(i)">{{i + 1}}</a>
        </li>
      </ng-container>

      <li class="page-item" [ngClass]="{'disabled': page == totalPages - 1}">
        <a class="page-link" (click)="changePage(page + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>

<!-- CONFGIURATION MODAL -->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configura Tabella</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm">
            Articoli per pagina:
          </div>
          <div class="col-sm">
            <select class="form-select shadow-lg" aria-label="Default select example" #orderPerPage
              (change)="onChangeOrderPerPage(orderPerPage.value)">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm">
            Colonne da visualizzare:
          </div>
          <div class="col-sm">
            <div class="form-check" *ngFor="let col of colOrders">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="col.visible"
                (change)="changeVisibility(col)">
              <label class="form-check-label" for="flexCheckDefault">
                {{col.text}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL ARTICOLI -->
<div class="modal fade" id="modalDetails" tabindex="-1" aria-labelledby="modalDetails" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dettagli Ordine di {{ orderSelected.BuyerName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- lista articoli -->
        <div class="list-group">
          <ng-container *ngFor="let orderItem of listaOrderItems">
            <div class="list-group-item list-group-item-warning flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <i class="bi bi-check-circle-fill" *ngIf="orderItem.orderSuccess == 1"
                    [ngClass]="{'text-success': orderItem.orderSuccess == 1}" style="margin-right: 5px;"></i>
                  <i class="bi bi-x-circle-fill" *ngIf="orderItem.orderSuccess != 1"
                    [ngClass]="{'text-danger': orderItem.orderSuccess != 1}" style="margin-right: 5px;"></i>
                  {{orderItem.Title}}
                </h5>
                <small>{{orderItem.ASIN }}</small>
              </div>
              <p class="mb-1"><small>Amazon ID: {{ orderSelected.AmazonOrderId }} </small></p>
              <p class="mb-1">Prezzo Articolo: <b>{{orderItem.ItemPriceAmount}} €</b></p>
              <p class="mb-1">Quantità: {{orderItem.QuantityOrdered}} </p>
              <p class="mb-1" *ngIf="orderItem.ShippingPriceAmount > 0">Costo Spedizione:
                {{orderItem.ShippingPriceAmount}} €</p>
              <p class="mb-1" *ngIf="orderItem.PromotionIds != '-'">Codice Promo: {{orderItem.PromotionIds}}</p>
              <p class="mb-1" *ngIf="orderItem.PointsGrantedPointsNumber != 0 ">Punti Guadagnati:
                {{orderItem.PointsGrantedPointsNumber}}</p>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #myModalClose data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>