.table {
    background-color: transparentize($color: rgb(252, 252, 252), $amount: 0.3)
}

.header{
    background-color: rgba(255, 255, 255, 0.911)
}

.list-group-item{
    background-color: transparentize($color: #9dc4fa, $amount: 0.7)
    
}

.form-select{
    width: auto;
}

.page-link{
    cursor: pointer;
}

.th:hover{
    background-color: #413f4a69;
    cursor: pointer;
}

img {
    max-width: 130px;
}

.image-column{
    width: 10%;
}

.not-found{
    height: 50vh;
}

.buttonInfo{
    background-color: #3e86eb;
    
}
