<div class="container">
    <div class="animated fadeIn" style="margin-top: 3%">
        <div style="margin-bottom: 3%; margin-left: 35%;">
            <h1>Gestione Articoli</h1>
        </div>
        <div class="card" style="padding: 3%;">
            <form>
                <div style="margin-left: 30%;">
                    <div style="margin-bottom: 3%">
                        <h3>Inserisci un nuovo Articolo:</h3>
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="ASIN">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="Titolo">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="Descrizione">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="CategoriaID">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="Prezzo">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="Giacenza">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" placeholder="Disponibilità">
                    </div>
                    <div class="col-6 mb-3">
                        <button type="button" class="btn btn-primary col-12">Inserisci Articolo</button>
                    </div>
                </div>
            </form>
        </div>  
        
    </div>
</div>