.table {
    background-color: transparentize($color: rgb(252, 252, 252), $amount: 0.3)
}

.header{
    background-color: rgba(255, 255, 255, 0.911)
}

.th:hover{
    background-color: #413f4a69;
    cursor: pointer;
}

