<div class="container py-2">

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 class="display-5 text-white">Lista Fornitori</h1>
        </div>
    </div>

    <div class="row">

      <div class="col d-flex align-items-center">
        <button class="btn btn-light shadow-none" role="button" data-bs-toggle="modal" data-bs-target="#configModal">
          <i class="bi bi-gear-wide-connected"></i> Impostazioni
        </button>
      </div>
  
      <div class="col d-flex align-items-center justify-content-end">
        <button class="btn btn-success shadow-none" data-bs-toggle="modal" data-bs-target="#newSupplierModal">
          <i class="bi bi-plus-circle"></i> Nuovo
        </button>
      </div>
  
    </div>


    <div class="table-responsive-xl pt-2">
        <table class="table table-secondary table-striped">
    
          <thead class="thead-dark table-warning header sticky-top">
            <tr>
              <ng-container *ngFor="let col of columns">
                <th class="th" *ngIf="col.visible" (click)="changeOrderBy(col)">
                  {{ col.text }}
                </th>
              </ng-container>
              <th>
                Operazioni
              </th>
            </tr>
          </thead>
    
          <tbody>
            <tr *ngFor="let x of listaSuppliers">
              <td class="align-middle" *ngIf="columns[0].visible">{{x.name}}</td>
              <td class="align-middle" *ngIf="columns[1].visible">{{x.indirizzo}}</td>
              <td class="align-middle" *ngIf="columns[2].visible">{{x.email}}</td>
              <td class="align-middle" *ngIf="columns[3].visible">{{x.telefono}}</td>
              <td class="align-middle" *ngIf="columns[4].visible">{{x.nazione}}</td>
              <td class="align-middle" *ngIf="columns[5].visible">{{x.note}}</td>
              
              <td class="align-middle" width=10%>
                <button type="button" class="btn btn-secondary btn-sm shadow-none"><i class="bi bi-pencil-fill"></i></button>
                <button type="button" class="btn btn-danger btn-sm shadow-none ms-3"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
            <tr *ngIf="isListEmpty()">
              <td class="text-center align-middle not-found" colspan="100%">
                Nessun risultato trovato
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>

</div>

<!-- CONFIURATION MODAL -->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm">
            Colonne da visualizzare:
          </div>
          <div class="col-sm">

            <div class="form-check" *ngFor="let col of columns">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="col.visible"
                (change)="changeVisibility(col)">
              <label class="form-check-label" for="flexCheckDefault">
                {{col.text}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- AGGIUNTA FORNITORE MODALE -->
<div class="modal fade" id="newSupplierModal" tabindex="-1" aria-labelledby="newSupplierModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuovo Fornitore</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <label for="nome" class="col-form-label">Nome:</label>
              <input type="text" class="form-control" id="nome">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="indirizzo" class="col-form-label">Indirizzo:</label>
              <input type="text" class="form-control" id="indirizzo">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="telefono" class="col-form-label">Telefono:</label>
              <input type="text" class="form-control" id="telefono">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="email">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="nazione" class="col-form-label">Nazione:</label>
              <input type="text" class="form-control" id="nazione">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="note" class="col-form-label">Note:</label>
              <textarea class="form-control" id="note"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-primary">Inserisci</button>
      </div>
    </div>
  </div>
</div>
