<div class="container h-100 col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5 h-100 justify-content-center align-items-center">

        <div class="col-md-11 mx-auto col-lg-7">
            <form class="p-4 p-md-5 border rounded-3 bg-light" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-5 text-center">
                    <h1>Login</h1>
                    <p>Inserisci le tue credenziali.</p>
                </div>
                
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control" id="floatingInput"
                        [ngClass]="{'error': submitted && myForm.username.errors}" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>

                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                        [ngClass]="{'error': submitted && myForm.password.errors}" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="mb-3">
                    <label class="error">* Utente non registrato</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Accedi</button>

            </form>
        </div>
    </div>
</div>