.dioboia {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.shadows {
  box-shadow: -8px 9px 25px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -8px 9px 25px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 9px 25px -1px rgba(0, 0, 0, 0.5);
}


