<header>
    <div class="px-3 py-2 bg-dark text-white">
      
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="100" height="30" role="img" aria-label="Bootstrap">
              <image href="../assets/images/d3m.svg" width="100%" heigth="100%" alt="Docker Icon" />
            </svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li *ngFor="let item of navbar">
              <a href="#" class="nav-link" [ngClass]="{'text-white': !item.hover, 'text-warning' : item.hover }" (mouseover)="onHover(item)" (mouseleave)="removeHover(item)">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use [attr.xlink:href]="item.icon"  /></svg>
                {{item.title}}
              </a>
            </li>
          </ul>
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="bootstrap-icons.svg#cart4"/></svg>
                  Carello
                </a>
              </li>
          </ul>
        </div>
    </div>
  </header>