/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #e7f4ff, #daedfe, #cfe5fd, #c4ddfd, #bad5fc, #adcaf2, #a1bfe9, #94b4df, #81a3ca, #6f93b5, #5d82a1, #4d728dbd);
}

.error:focus,
.error {
  border-color: #e91e63;
  color: #e91e63;
}

.invalid-feedback {
  color: #e91e63;
}
