/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #464443, #5b544d, #6d6557, #7b7861, #868c6e, #839677, #7ea083, #78aa92, #6aa99e, #62a7aa, #61a4b4, #68a0bb);
  
}

.error:focus,
.error {
  border-color: #e91e63;
  color: #e91e63;
}

.invalid-feedback {
  color: #e91e63;
}
