<!--  style="background-image: linear-gradient(to top, #3280f5, #FFD54F); background-repeat: no-repeat" -->
<!-- https://img.freepik.com/free-vector/dotted-colors-background-pop-art-style_25030-39201.jpg?size=626&ext=jpg -->
<div class="app-body" style="background-image: url('https://news.cgtn.com/news/7959544e316b444f35556a4e3449444f79677a4e31457a6333566d54/img/a39e81a6866f4001a6ec2b1089a22bc9/a39e81a6866f4001a6ec2b1089a22bc9.jpg');">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Inserisci le tue credenziali:</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
