<div class="container">
    <div class="animated fadeIn text-center" style="margin-top: 3%">
        <div style="margin-bottom: 3%;">
            <h1>Lista Articoli</h1>
        </div>
        <div>
          <table class="table table-striped " >
              <thead class="thead-dark header">
                <tr>
                  <th *ngFor="let col of colItems">
                    {{ col.header }}
                  </th>
                  <th>{{ "Categoria" }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil-fill"></i></button>
                  </td>
                </tr>
              </tbody>
              <!-- <b>Totale Articoli: {{items ? items.length : 0 }}</b> -->
          </table>
        </div>
            <div style="margin-top: 2%;">
              <nav>
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Precedente</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only"></span></a>
                  </li> 
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Successiva</a>
                  </li>
                </ul>
              </nav>
            </div>
    </div>
</div>

