<div class="container py-2">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1 class="display-5 text-white">Lista Articoli</h1>
    </div>
  </div>

  <div class="row">

    <div class="col d-flex align-items-center">
      <select class="form-select shadow-lg" aria-label="Default select example" #itemPerPage (change)="onChangeItemPerPage(itemPerPage.value)">  
        <option value="5">5 Articoli</option>
        <option value="10">10 Articoli</option>
        <option value="20">20 Articoli</option>
      </select>
    </div>

    <div class="col d-flex justify-content-center">
      <button class="btn btn-success shadow-none" role="button">
        <i class="bi bi-plus"></i>
      </button>
    </div>

    <div class="col d-flex align-items-center justify-content-end">
      <button class="btn btn-light shadow-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        <i class="bi bi-gear-wide-connected"></i> Colonne
      </button>
    </div>

  </div>

  <div class="table-responsive-xl pt-2">
    <table class="table table-secondary table-striped">

      <thead class="thead-dark table header sticky-top">
        <tr>
          <th class="image-column">
            Immagine
          </th>
          <ng-container *ngFor="let col of colItems">
            <th class="th" *ngIf="col.visible" (click)="changeOrderBy(col)">
              {{ col.text }} <i class="bi bi-caret-down-square-fill" *ngIf="col.name === sort.name" [ngClass]="{'bi-caret-down-square-fill': sort.orderBy == true, 'bi-caret-up-square-fill': sort.orderBy == false}"></i>
            </th>
          </ng-container>
          <th>
            Operazioni
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of listaItems">
          <td class="image-column"><img src="{{item.image}}" class="img-thumbnail" alt="Articolo"></td>
          <td *ngIf="colItems[0].visible" class="align-middle" width=10%>{{item.asin}}</td>
          <td *ngIf="colItems[1].visible" class="align-middle" width=18%>{{item.title}}</td>
          <td *ngIf="colItems[2].visible" class="align-middle" width=30%>{{item.description}}</td>
          <td *ngIf="colItems[3].visible" class="align-middle" width=10%>€ {{item.price | number : '1.2-2'}}</td>
          <td *ngIf="colItems[4].visible" class="align-middle font-weight-bold"
            [ngClass]="{'text-success': item.storage > item.minAvailability, 'text-danger': item.storage < item.minAvailability}">
            <i class="bi bi-exclamation-circle-fill" *ngIf="item.storage <= item.minAvailability"></i>
            <i class="bi bi-check-circle-fill" *ngIf="item.storage > item.minAvailability"></i>
             {{item.storage}}
          </td>
          <td *ngIf="colItems[5].visible" class="align-middle" width=10%>{{item.minAvailability}} pezzi</td>
          <td class="align-middle" width=10%>
            <button type="button" class="btn btn-secondary btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#updateItems"><i class="bi bi-pencil-fill"></i></button>
            <button type="button" class="btn btn-warning btn-sm shadow-none"><i class="bi bi-cart"></i></button>
            <button type="button" class="btn btn-danger btn-sm shadow-none" data-bs-toggle="modal" data-bs-target="#deleteItems" (click)="openDeleteModal(item)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
        <tr *ngIf="isListEmpty()">
          <td class="text-center align-middle not-found" colspan="100%">
            Nessun risultato trovato
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': page == 0}">
        <a class="page-link" (click)="changePage(page - 1)">Previous</a>
      </li>

      <ng-container *ngFor="let x of [].constructor(totalPages); let i = index">
        <li class="page-item" [ngClass]="{'active': i == page}" >
          <a class="page-link" (click)="changePage(i)">{{i + 1}}</a>
        </li>
      </ng-container>
      
      <li class="page-item" [ngClass]="{'disabled': page == totalPages - 1}">
        <a class="page-link" (click)="changePage(page + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>



<!-- OFFCANVAS COMPONENT -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Colonne</h5>
    <button type="button" class="btn-close text-reset shadow-lg" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Seleziona le colonne da visualizzare nella tabella degli Articoli
    </div>
    <div class="container mt-5">
      <div class="form-check" *ngFor="let col of colItems">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="col.visible"
          (change)="changeVisibility(col)">
        <label class="form-check-label" for="flexCheckDefault">
          {{col.text}}
        </label>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="deleteItems" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminazione</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare l'articolo '{{itemToDelete.title}}'?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteItems(itemToDelete.id)">Elimina</button>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE MODAL -->
<div class="modal fade" id="updateItems" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifica Articolo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col mb-2">
              <label for="recipient-name" class="col-form-label">Asin:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </div>
          <div class="row">
            <div class=" col mb-2">
              <label for="recipient-name" class="col-form-label">Titolo:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <label for="message-text" class="col-form-label">Descrizione:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <label for="recipient-name" class="col-form-label">Prezzo:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <label for="recipient-name" class="col-form-label">Giacenza:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="col mb-2">
              <label for="recipient-name" class="col-form-label">Disponibilità Minima:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <label for="recipient-name" class="col-form-label">Immagine:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Salva</button>
      </div>
    </div>
  </div>
</div>
