.table {
    background-color: transparentize($color: rgb(252, 252, 252), $amount: 0.5)
}

.header{
    background-color: rgba(255, 255, 255, 0.911)
}

.form-select{
    width: auto;
}

.page-link{
    cursor: pointer;
}

.th:hover{
    background-color: #413f4a69;
    cursor: pointer;
}

img {
    max-height:150px;
    max-width:150px;
}

.image-column-header{
    width: 150px;
}
.image-column{
    width: 150px;
    text-align: center;
    background: white;
}

.not-found{
    height: 50vh;
}

.quantity{
    text-align: center;
}
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttonCarrello{
    background-color: #f0cd31;
}