.form-select{
    width: auto;
}

.page-link{
    cursor: pointer;
}

.th:hover{
    background-color: #DCDF92;
    cursor: pointer;
}

img {
    max-width: 130px;
}

.image-column{
    width: 170px;
}