<div class="container my-3">
  <div class="row mt-2">
    <div class="col-md-6">
      <div class="bg-light mx-1 my-1 px-3 py-2 rounded-3">
        <h2 class="display-6 text-center">Totale ordini</h2>
        <div class="input-group mt-3">
          <span class="input-group-text">Data Inizio</span>
          <input type="date" aria-label="First name" class="form-control" (change)="filter1()" [(ngModel)]="dataInizio1">
          <span class="input-group-text">Data Fine</span>
          <input type="date" aria-label="Last name" class="form-control" (change)="filter1()" [(ngModel)]="dataFine1"> 
        </div>
        <div class="input-group mt-3">
          <span class="input-group-text">Articolo</span>
          <select class="form-select" [(ngModel)]="articoloSelezionato" aria-label="Default select example" (change)="filter1()">
            <option value="null" selected>----------------------------------- TUTTI -----------------------------------</option>
            <ng-container *ngFor="let articolo of articoli">
              <option value="{{articolo.asin}}" >
                {{articolo.title}}
              </option>
            </ng-container>
            
          </select>
        </div>
        <div class="row my-3">
          <div class="col d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <h4>Quantità</h4>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
              <h4>Ricavi</h4>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col d-flex justify-content-center">
            <div class="circle d-flex align-items-center justify-content-center" style="background-color: #6f42c1;">
              <h2 class="display-5 text-white">{{quantita != null ? quantita : "0"}}</h2>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="circle d-flex align-items-center justify-content-center" style="background-color: #20c997;">
              <h2 class="display-6 text-white">€ {{ ricavi != null ? (ricavi | number:'1.2-2') : "0"}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bg-light mx-1 my-1 px-3 py-2 rounded-3">
        <h2 class="display-6 text-center">Articoli ordinati</h2>
        <div class="input-group my-3">
          <span class="input-group-text">Data Inizio</span>
          <input type="date" aria-label="First name" class="form-control" [(ngModel)]="dataInizio2" (change)="filter2()">
          <span class="input-group-text">Data Fine</span>
          <input type="date" aria-label="Last name" class="form-control" [(ngModel)]="dataFine2" (change)="filter2()">
        </div>
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>
